/* テーブルコンポーネント */

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.table th {
    padding: 12px;
    text-align: center;
    color: #666;
    border-bottom: 2px solid #ddd;
}

.table th:first-child {
    border-top-left-radius: 8px;
}

.table th:last-child {
    border-top-right-radius: 8px;
}

.table td {
    padding: 12px;
    color: #666;
    text-align: center;
    letter-spacing: 0.1em;
    border-bottom: 1px solid #eee;
}

.table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

.table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

/* 詳細リンク */
.detail-link {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.detail-link:hover {
    text-decoration: underline;
}
